# Assessor Data Cleaning - 2010

In [ ]:
#importing libraries 

from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.activity.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fexperimentsandconfigs%20https%3a%2f%2fwww.googleapis.com%2fauth%2fphotos.native&response_type=code

Enter your authorization code:
4/1AY0e-g4xCjuUJ7Vfrc7JgFGLCWx3CKRb78tPF3QQ9ikJFWu8GP71XqDope0
Mounted at /content/gdrive

In [ ]:
import numpy as np
import pandas as pd
import math

##Uploading + Exploring the Data 

I'll first upload the raw data and see what features it includes.

In [ ]:
#Importing data from 2010 in Los Angeles 
records_df = pd.read_csv("gdrive/My Drive/Team 93 Capstone Project/data/Assessor_Parcels_Data_2010.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (37) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
records_df.head()

In [ ]:
records_df.columns

In [ ]:
#verifying that we pulled data for the correct city and no others
records_df["taxratearea_city"].unique()

In [ ]:
records_df.info()

## Relevance 

The dataset includes a lot of information that I don't need. For this section, I'll 


1.   Drop the columns that I don't need 
2.   Check the remaining columns for unique values
1.   Handle missing values, including dropping data that does not include zip codes

###Determining which columns to drop

In [ ]:
#dropping irrelevant columns

records_df = records_df.drop(columns=['Unnamed: 0', 'situszip','ain',
       'taxratearea', 'usetype', 'usecode','usecodedescchar3', 'usecodedescchar4',
       'totbuildingdatalines', 'yearbuilt', 'effectiveyearbuilt', 'sqftmain',
       'bedrooms', 'bathrooms', 'units', 'recordingdate', 'roll_landvalue',
       'roll_landbaseyear', 'roll_impvalue', 'roll_impbaseyear',
       'roll_totlandimp', 'roll_homeownersexemp', 'roll_realestateexemp',
       'roll_fixturevalue', 'roll_fixtureexemp', 'roll_perspropvalue',
       'roll_perspropexemp', 'istaxableparcel', 'roll_totalvalue',
       'roll_totalexemption',
       'adminregion', 'cluster', 'parcelboundarydescription', 'situshouseno',
       'situsfraction', 'situsdirection', 'situsstreet', 'situsunit',
       'situscity', 'rowid', 'center_lat', 'center_lon', 'location_1','propertylocation', "parcelclassification"])

In [ ]:
records_df.head()

  taxratearea_city  rollyear  ... nettaxablevalue situszip5
0      LOS ANGELES      2010  ...               0       NaN
1      LOS ANGELES      2010  ...               0       NaN
2      LOS ANGELES      2010  ...               0       NaN
3      LOS ANGELES      2010  ...               0       NaN
4      LOS ANGELES      2010  ...               0       NaN

[5 rows x 7 columns]

In [ ]:
#renaming columns to more recongizable names
records_df.columns=["city", "year", "assessor_id","general_use", "specific_use","net_value", "zip_code"]

###Handling Missing Values in ["assessor_id"] (none!)

In [ ]:
len(records_df['assessor_id'].unique())

790018

In [ ]:
records_df['assessor_id'].isnull().sum()

0

In [ ]:
#this series is good to go

### Handling Missing Values in ["general_use"]

In [ ]:
#we have entries w/ nan and (unavailable) string
records_df["general_use"].unique()

array(['Miscellaneous', 'Residential', 'Industrial', 'Commercial',
       'Recreational', 'Institutional', nan, '(unavailable)', 'Dry Farm',
       'Irrigated Farm'], dtype=object)

In [ ]:
#checking how many nans in general_use
records_df['general_use'].isnull().sum()

208

In [ ]:
#replacing nan with (unavailable)
records_df["general_use"] = records_df["general_use"].fillna('(unavailable)')
records_df["general_use"].unique()

array(['Miscellaneous', 'Residential', 'Industrial', 'Commercial',
       'Recreational', 'Institutional', '(unavailable)', 'Dry Farm',
       'Irrigated Farm'], dtype=object)

###Handling Missing Values in ["specific_use"]

In [ ]:
#there is an empty string in this column that we should replace with nan or Not Available 
records_df["specific_use"].unique()

array(['Government Owned Property', 'Single Family Residence',
       'Industrial', 'Store Combination',
       'Parking Lot (Commercial Use Property)', 'Privately Owned',
       'Utility', 'Shopping Center (Neighborhood, Community)',
       'Five or More Units or Apartments (Any Combination)',
       'Club, Lodge Hall, Fraternal Organization', 'Commercial', 'Church',
       'Four Units  (Any Combination)', nan, '(unavailable)',
       'Double, Duplex, or Two Units', 'Open Storage',
       'Shopping Center (Regional)', 'Cemetery, Mausoleum, Mortuary',
       'Waste', 'Three Units (Any Combination)',
       'Parking Lot (Industrial Use Property)', 'Office Building',
       'Rights of Way', ' ', 'Store', 'Camp', 'Petroleum and Gas',
       'Homes for Aged and Others', 'School (Private)',
       "Children's Day Care Center",
       'Auto, Recreation Equipment, Construction Equipment Sales and Service',
       'Restaurant, Cocktail Lounge', 'Professional Building',
       'Bowling Alley', 'Supermarket', 'Service Station',
       'Warehousing, Distribution, Storage', 'Hotel and Motel',
       'Hospital', 'Manufactured Home', 'Light Manufacturing',
       'Non-Auto Service and Repair Shop, Paint Shop, or Laundry',
       'Animal Kennel', 'Heavy Manufacturing', 'Bank, Savings and Loan',
       'Department Store', 'Athletic and Amusement Facility',
       'College, University (Private)', 'Nursery or Greenhouse',
       'Motion Picture, Radio and Television Industry', 'Golf Course',
       'Skating Rink', 'Manufactured Home Park', 'Theater', 'Lumber Yard',
       'Food Processing Plant', 'Rooming/Boarding House',
       'Mineral Processing', 'Wholesale and Manufacturing Outlet',
       'Dump Site', 'Poultry, etc.', 'Rivers and Lakes', 'Desert',
       'Dairy', 'Race Track', 'Pipeline, Canal', 'Pasture',
       'Fruits and Nuts', 'Water Recreation', 'Senior Day Care Center',
       'Field Crops'], dtype=object)

In [ ]:
records_df["specific_use"]= records_df["specific_use"].fillna('(unavailable)')

In [ ]:
records_df["specific_use"].unique()

array(['Government Owned Property', 'Single Family Residence',
       'Industrial', 'Store Combination',
       'Parking Lot (Commercial Use Property)', 'Privately Owned',
       'Utility', 'Shopping Center (Neighborhood, Community)',
       'Five or More Units or Apartments (Any Combination)',
       'Club, Lodge Hall, Fraternal Organization', 'Commercial', 'Church',
       'Four Units  (Any Combination)', '(unavailable)',
       'Double, Duplex, or Two Units', 'Open Storage',
       'Shopping Center (Regional)', 'Cemetery, Mausoleum, Mortuary',
       'Waste', 'Three Units (Any Combination)',
       'Parking Lot (Industrial Use Property)', 'Office Building',
       'Rights of Way', ' ', 'Store', 'Camp', 'Petroleum and Gas',
       'Homes for Aged and Others', 'School (Private)',
       "Children's Day Care Center",
       'Auto, Recreation Equipment, Construction Equipment Sales and Service',
       'Restaurant, Cocktail Lounge', 'Professional Building',
       'Bowling Alley', 'Supermarket', 'Service Station',
       'Warehousing, Distribution, Storage', 'Hotel and Motel',
       'Hospital', 'Manufactured Home', 'Light Manufacturing',
       'Non-Auto Service and Repair Shop, Paint Shop, or Laundry',
       'Animal Kennel', 'Heavy Manufacturing', 'Bank, Savings and Loan',
       'Department Store', 'Athletic and Amusement Facility',
       'College, University (Private)', 'Nursery or Greenhouse',
       'Motion Picture, Radio and Television Industry', 'Golf Course',
       'Skating Rink', 'Manufactured Home Park', 'Theater', 'Lumber Yard',
       'Food Processing Plant', 'Rooming/Boarding House',
       'Mineral Processing', 'Wholesale and Manufacturing Outlet',
       'Dump Site', 'Poultry, etc.', 'Rivers and Lakes', 'Desert',
       'Dairy', 'Race Track', 'Pipeline, Canal', 'Pasture',
       'Fruits and Nuts', 'Water Recreation', 'Senior Day Care Center',
       'Field Crops'], dtype=object)

###Handling Missing Values in ["net_value"]

In [ ]:
#this is good to go
records_df['net_value']

0              0
1              0
2              0
3              0
4              0
           ...
790013    276700
790014    295900
790015     62825
790016    267400
790017    398000
Name: net_value, Length: 790018, dtype: int64

###Handling Missing Values in ["zip_code"]

In [ ]:
#good to go
records_df['zip_code'].unique()

array([   nan, 91604., 90035., 90043., 91364., 91335., 91306., 91367.,
       91303., 91307., 91356., 91316., 91325., 91406., 91343., 91405.,
       91402., 90045., 91423., 91411., 91401., 90230., 91403., 91436.,
       91346., 90210., 90077., 90049., 91605., 91352., 91331., 90001.,
       91606., 90066., 99606., 91066., 91006., 91601., 90068., 91607.,
       91602., 91499., 90046., 91342., 91340., 91040., 91311., 91042.,
       91024., 91214., 91344., 91345., 91353., 91504., 91505., 93510.,
       91612., 90601., 91608., 90064., 91387., 91324., 91329., 91326.,
       93063., 91304., 91301., 90056., 90302., 90047., 90036., 90293.,
       90291., 90040., 90009., 90304., 90245., 90016., 90232., 90034.,
       90025., 90094., 90292., 90041., 90042., 90015., 90057., 90011.,
       90005., 90063., 90012., 92008., 90037., 90031., 90006., 90023.,
       90065., 90019., 90013., 90014., 95648., 90017., 90405., 90026.,
       90007., 90402., 90403., 90297., 90067., 90024., 90212., 90069.,
       90048., 90211., 90062., 94513., 90095., 90039., 90022., 90027.,
       90631., 90272., 90020., 94707., 90270., 90053., 90290., 90265.,
       90044., 90003., 90058., 90018., 90008., 90240., 90089., 90028.,
       90021., 90029., 90010., 90038., 90004., 90079., 90071., 90033.,
       91792., 92806., 92801., 94087., 90032., 91205., 91204., 92646.,
       91030., 91201., 91206., 91105., 91101., 90052., 90002., 90059.,
       90061., 90051., 90248., 90501., 90247., 90745., 90813., 90744.,
       90746., 90502., 90731., 90717., 90710., 90712., 90732., 90734.,
       90815., 92805., 90748., 90733., 90822., 90275., 92802., 91302.])

###Dropping Data w/o Zip Codes

In [ ]:
records_df = records_df[records_df['zip_code'].notna()]

In [ ]:
records_df = records_df.reset_index()

TypeError: ignored

In [ ]:
records_df = records_df.drop(columns="index")

In [ ]:
records_df

               city  year  ... net_value zip_code
0       LOS ANGELES  2010  ...    455441  91604.0
1       LOS ANGELES  2010  ...    559830  90035.0
2       LOS ANGELES  2010  ...    303510  90043.0
3       LOS ANGELES  2010  ...    800000  91364.0
4       LOS ANGELES  2010  ...    205877  91335.0
...             ...   ...  ...       ...      ...
747293  LOS ANGELES  2010  ...    276700  91335.0
747294  LOS ANGELES  2010  ...    295900  91335.0
747295  LOS ANGELES  2010  ...     62825  91335.0
747296  LOS ANGELES  2010  ...    267400  91335.0
747297  LOS ANGELES  2010  ...    398000  91335.0

[747298 rows x 7 columns]

##Consistency
Now that I've handles missing values, I will check consistency over: 


1.   Data type
2.   Categorical 
2.  Referential integrity

###Data type

In [ ]:
records_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 747298 entries, 0 to 747297
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   city          747298 non-null  object
 1   year          747298 non-null  int64
 2   assessor_id   747298 non-null  object
 3   general_use   747298 non-null  object
 4   specific_use  747298 non-null  object
 5   net_value     747298 non-null  int64
 6   zip_code      747298 non-null  float64
dtypes: float64(1), int64(2), object(4)
memory usage: 39.9+ MB

In [ ]:
#changing to category type 
records_df["assessor_id"] = records_df["assessor_id"].astype("category")
records_df["general_use"] = records_df["general_use"].astype("category")
records_df["specific_use"] = records_df["specific_use"].astype("category")

#since all NaN have been removed, change type of zip code column to int. this may change later
records_df["zip_code"] = records_df["zip_code"].astype("int")

#change year to datetime format
records_df["year"] = pd.to_datetime(records_df['year'], format='%Y')

In [ ]:
records_df["year"] = records_df["year"].dt.year

In [ ]:
records_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 747298 entries, 0 to 747297
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   city          747298 non-null  object
 1   year          747298 non-null  int64
 2   assessor_id   747298 non-null  category
 3   general_use   747298 non-null  category
 4   specific_use  747298 non-null  category
 5   net_value     747298 non-null  int64
 6   zip_code      747298 non-null  int64
dtypes: category(3), int64(3), object(1)
memory usage: 52.8+ MB

###Categorical Consistency

In [ ]:
#consistent 
records_df["general_use"].unique()

['Commercial', 'Residential', 'Institutional', 'Recreational', 'Industrial', 'Miscellaneous', '(unavailable)', 'Irrigated Farm', 'Dry Farm']
Categories (9, object): ['Commercial', 'Residential', 'Institutional', 'Recreational', ...,
                         'Miscellaneous', '(unavailable)', 'Irrigated Farm', 'Dry Farm']

In [ ]:
#consistent 
records_df["specific_use"]

0                      Commercial
1                           Store
2                      Commercial
3                           Store
4         Single Family Residence
                   ...
747293    Single Family Residence
747294    Single Family Residence
747295    Single Family Residence
747296    Single Family Residence
747297    Single Family Residence
Name: specific_use, Length: 747298, dtype: category
Categories (69, object): [' ', '(unavailable)', 'Animal Kennel',
                          'Athletic and Amusement Facility', ..., 'Warehousing, Distribution, Storage', 'Waste',
                          'Water Recreation', 'Wholesale and Manufacturing Outlet']

###  Referential integrity

In [ ]:
#making the assessor_id a unique ID per parcel per year
records_df['assessor_id'] = records_df["assessor_id"].apply(lambda x: x +"-2010")

In [ ]:
records_df

               city  year  ... net_value zip_code
0       LOS ANGELES  2010  ...    455441    91604
1       LOS ANGELES  2010  ...    559830    90035
2       LOS ANGELES  2010  ...    303510    90043
3       LOS ANGELES  2010  ...    800000    91364
4       LOS ANGELES  2010  ...    205877    91335
...             ...   ...  ...       ...      ...
747293  LOS ANGELES  2010  ...    276700    91335
747294  LOS ANGELES  2010  ...    295900    91335
747295  LOS ANGELES  2010  ...     62825    91335
747296  LOS ANGELES  2010  ...    267400    91335
747297  LOS ANGELES  2010  ...    398000    91335

[747298 rows x 7 columns]

In [ ]:
records_df

               city  year  ... net_value zip_code
0       LOS ANGELES  2010  ...    455441    91604
1       LOS ANGELES  2010  ...    559830    90035
2       LOS ANGELES  2010  ...    303510    90043
3       LOS ANGELES  2010  ...    800000    91364
4       LOS ANGELES  2010  ...    205877    91335
...             ...   ...  ...       ...      ...
747293  LOS ANGELES  2010  ...    276700    91335
747294  LOS ANGELES  2010  ...    295900    91335
747295  LOS ANGELES  2010  ...     62825    91335
747296  LOS ANGELES  2010  ...    267400    91335
747297  LOS ANGELES  2010  ...    398000    91335

[747298 rows x 7 columns]

##Exporting Data

In [ ]:
records_df.to_csv("gdrive/My Drive/Team 93 Capstone Project/data/Assessor_Parcels_Data_2010_CLEANED.csv")