<a href="https://colab.research.google.com/github/sorayabailey23/Group-93/blob/main/Assessor_Data_Cleaning_2012.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assessor Data Cleaning - 2012

In [ ]:
#importing libraries + drive

from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import numpy as np
import pandas as pd
import math

##Uploading + Exploring the Data 

I'll first upload the raw data and see what features it includes.

In [ ]:
#Importing data from 2012 in Los Angeles 
records_df = pd.read_csv("gdrive/My Drive/Team 93 Capstone Project/data/Assessor_Parcels_Data_2012.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (37) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
records_df.head()

   Unnamed: 0 situszip  ... propertylocation  situszip5
0           0           ...              NaN        NaN
1           1           ...              NaN        NaN
2           2           ...              NaN        NaN
3           3           ...              NaN        NaN
4           4           ...              NaN        NaN

[5 rows x 52 columns]

In [ ]:
records_df.columns

Index(['Unnamed: 0', 'situszip', 'taxratearea_city', 'ain', 'rollyear',
       'taxratearea', 'assessorid', 'usetype', 'usecode', 'usecodedescchar1',
       'usecodedescchar2', 'usecodedescchar3', 'usecodedescchar4',
       'totbuildingdatalines', 'yearbuilt', 'effectiveyearbuilt', 'sqftmain',
       'bedrooms', 'bathrooms', 'units', 'recordingdate', 'roll_landvalue',
       'roll_landbaseyear', 'roll_impvalue', 'roll_impbaseyear',
       'roll_totlandimp', 'roll_homeownersexemp', 'roll_realestateexemp',
       'roll_fixturevalue', 'roll_fixtureexemp', 'roll_perspropvalue',
       'roll_perspropexemp', 'istaxableparcel', 'roll_totalvalue',
       'roll_totalexemption', 'nettaxablevalue', 'parcelclassification',
       'adminregion', 'cluster', 'parcelboundarydescription', 'situshouseno',
       'situsfraction', 'situsdirection', 'situsstreet', 'situsunit',
       'situscity', 'rowid', 'center_lat', 'center_lon', 'location_1',
       'propertylocation', 'situszip5'],
      dtype='object')

In [ ]:
#verifying that we pulled data for the correct city + year 
records_df["taxratearea_city"].unique()

array(['LOS ANGELES'], dtype=object)

In [ ]:
records_df["rollyear"].unique()

array([2012])

In [ ]:
records_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 794012 entries, 0 to 794011
Data columns (total 52 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Unnamed: 0                 794012 non-null  int64
 1   situszip                   794012 non-null  object
 2   taxratearea_city           794012 non-null  object
 3   ain                        794012 non-null  int64
 4   rollyear                   794012 non-null  int64
 5   taxratearea                794012 non-null  int64
 6   assessorid                 794012 non-null  object
 7   usetype                    793985 non-null  object
 8   usecode                    794012 non-null  object
 9   usecodedescchar1           793985 non-null  object
 10  usecodedescchar2           793985 non-null  object
 11  usecodedescchar3           793985 non-null  object
 12  usecodedescchar4           793985 non-null  object
 13  totbuildingdatalines       794012 non-null  int64
 14  yearbuilt                  794012 non-null  int64
 15  effectiveyearbuilt         794012 non-null  int64
 16  sqftmain                   794012 non-null  int64
 17  bedrooms                   794012 non-null  int64
 18  bathrooms                  794012 non-null  int64
 19  units                      794012 non-null  int64
 20  recordingdate              794012 non-null  int64
 21  roll_landvalue             794012 non-null  int64
 22  roll_landbaseyear          794012 non-null  int64
 23  roll_impvalue              794012 non-null  int64
 24  roll_impbaseyear           794012 non-null  int64
 25  roll_totlandimp            794012 non-null  int64
 26  roll_homeownersexemp       794012 non-null  int64
 27  roll_realestateexemp       794012 non-null  int64
 28  roll_fixturevalue          794012 non-null  int64
 29  roll_fixtureexemp          794012 non-null  int64
 30  roll_perspropvalue         794012 non-null  int64
 31  roll_perspropexemp         794012 non-null  int64
 32  istaxableparcel            794012 non-null  object
 33  roll_totalvalue            794012 non-null  int64
 34  roll_totalexemption        794012 non-null  int64
 35  nettaxablevalue            794012 non-null  int64
 36  parcelclassification       794012 non-null  object
 37  adminregion                794012 non-null  object
 38  cluster                    794012 non-null  int64
 39  parcelboundarydescription  794012 non-null  object
 40  situshouseno               794012 non-null  int64
 41  situsfraction              794012 non-null  object
 42  situsdirection             794012 non-null  object
 43  situsstreet                794012 non-null  object
 44  situsunit                  794012 non-null  object
 45  situscity                  794012 non-null  object
 46  rowid                      794012 non-null  int64
 47  center_lat                 793923 non-null  float64
 48  center_lon                 793923 non-null  float64
 49  location_1                 793923 non-null  object
 50  propertylocation           752708 non-null  object
 51  situszip5                  752695 non-null  float64
dtypes: float64(3), int64(29), object(20)
memory usage: 315.0+ MB

## Relevance 

The dataset includes a lot of information that I don't need. For this section, I'll 


1.   Drop the columns that I don't need 
2.   Check the remaining columns for unique values
1.   Handle missing values, including dropping data that does not include zip codes

###Determining which columns to drop

In [ ]:
#dropping irrelevant columns

records_df = records_df.drop(columns=['Unnamed: 0', 'situszip','ain',
       'taxratearea', 'usetype', 'usecode','usecodedescchar3', 'usecodedescchar4',
       'totbuildingdatalines', 'yearbuilt', 'effectiveyearbuilt', 'sqftmain',
       'bedrooms', 'bathrooms', 'units', 'recordingdate', 'roll_landvalue',
       'roll_landbaseyear', 'roll_impvalue', 'roll_impbaseyear',
       'roll_totlandimp', 'roll_homeownersexemp', 'roll_realestateexemp',
       'roll_fixturevalue', 'roll_fixtureexemp', 'roll_perspropvalue',
       'roll_perspropexemp', 'istaxableparcel', 'roll_totalvalue',
       'roll_totalexemption',
       'adminregion', 'cluster', 'parcelboundarydescription', 'situshouseno',
       'situsfraction', 'situsdirection', 'situsstreet', 'situsunit',
       'situscity', 'rowid', 'center_lat', 'center_lon', 'location_1','propertylocation', "parcelclassification"])

In [ ]:
records_df.head()

  taxratearea_city  rollyear  ... nettaxablevalue situszip5
0      LOS ANGELES      2012  ...               0       NaN
1      LOS ANGELES      2012  ...               0       NaN
2      LOS ANGELES      2012  ...               0       NaN
3      LOS ANGELES      2012  ...               0       NaN
4      LOS ANGELES      2012  ...               0       NaN

[5 rows x 7 columns]

In [ ]:
#renaming columns to more recongizable names
records_df.columns=["city", "year", "assessor_id","general_use", "specific_use","net_value", "zip_code"]

###Handling Missing Values in ["assessor_id"] (none!)

In [ ]:
len(records_df['assessor_id'].unique())

794012

In [ ]:
records_df['assessor_id'].isnull().sum()

0

In [ ]:
#this series is good to go

### Handling Missing Values in ["general_use"]

In [ ]:
#we have entries w/ nan and (unavailable) string
records_df["general_use"].unique()

array(['Miscellaneous', 'Residential', 'Industrial', 'Commercial', nan,
       '(unavailable)', 'Recreational', 'Dry Farm', 'Institutional',
       'Irrigated Farm'], dtype=object)

In [ ]:
#checking how many nans in general_use
records_df['general_use'].isnull().sum()

27

In [ ]:
#replacing nan with (unavailable)
records_df["general_use"] = records_df["general_use"].fillna('(unavailable)')
records_df["general_use"].unique()

array(['Miscellaneous', 'Residential', 'Industrial', 'Commercial',
       '(unavailable)', 'Recreational', 'Dry Farm', 'Institutional',
       'Irrigated Farm'], dtype=object)

###Handling Missing Values in ["specific_use"]

In [ ]:
#there is an empty string in this column that we should replace with nan or Not Available 
records_df["specific_use"].unique()

array(['Government Owned Property', 'Single Family Residence',
       'Industrial', 'Store', 'Parking Lot (Commercial Use Property)',
       'Auto, Recreation Equipment, Construction Equipment Sales and Service',
       'Privately Owned', 'Heavy Manufacturing',
       'Five or More Units or Apartments (Any Combination)', 'Commercial',
       nan, '(unavailable)', 'Utility', 'Light Manufacturing',
       'Office Building', 'Double, Duplex, or Two Units', 'Golf Course',
       'Desert', 'Shopping Center (Neighborhood, Community)',
       'Shopping Center (Regional)', 'Waste',
       'Three Units (Any Combination)',
       'Parking Lot (Industrial Use Property)', 'Hotel and Motel',
       'Church', 'Store Combination', 'Four Units  (Any Combination)',
       ' ', 'Open Storage', 'Homes for Aged and Others',
       'Warehousing, Distribution, Storage',
       'Restaurant, Cocktail Lounge', "Children's Day Care Center",
       'Professional Building', 'Bowling Alley', 'School (Private)',
       'Club, Lodge Hall, Fraternal Organization', 'Service Station',
       'Hospital', 'Manufactured Home', 'Cemetery, Mausoleum, Mortuary',
       'Non-Auto Service and Repair Shop, Paint Shop, or Laundry',
       'Animal Kennel', 'Bank, Savings and Loan', 'Department Store',
       'Athletic and Amusement Facility', 'College, University (Private)',
       'Nursery or Greenhouse',
       'Motion Picture, Radio and Television Industry', 'Supermarket',
       'Skating Rink', 'Manufactured Home Park', 'Theater', 'Lumber Yard',
       'Food Processing Plant', 'Rights of Way', 'Rooming/Boarding House',
       'Mineral Processing', 'Wholesale and Manufacturing Outlet',
       'Dump Site', 'Poultry, etc.', 'Rivers and Lakes', 'Dairy',
       'Race Track', 'Pipeline, Canal', 'Camp', 'Pasture',
       'Fruits and Nuts', 'Water Recreation', 'Senior Day Care Center',
       'Petroleum and Gas', 'Field Crops'], dtype=object)

In [ ]:
records_df["specific_use"]= records_df["specific_use"].fillna('(unavailable)')

In [ ]:
records_df["specific_use"].unique()

array(['Government Owned Property', 'Single Family Residence',
       'Industrial', 'Store', 'Parking Lot (Commercial Use Property)',
       'Auto, Recreation Equipment, Construction Equipment Sales and Service',
       'Privately Owned', 'Heavy Manufacturing',
       'Five or More Units or Apartments (Any Combination)', 'Commercial',
       '(unavailable)', 'Utility', 'Light Manufacturing',
       'Office Building', 'Double, Duplex, or Two Units', 'Golf Course',
       'Desert', 'Shopping Center (Neighborhood, Community)',
       'Shopping Center (Regional)', 'Waste',
       'Three Units (Any Combination)',
       'Parking Lot (Industrial Use Property)', 'Hotel and Motel',
       'Church', 'Store Combination', 'Four Units  (Any Combination)',
       ' ', 'Open Storage', 'Homes for Aged and Others',
       'Warehousing, Distribution, Storage',
       'Restaurant, Cocktail Lounge', "Children's Day Care Center",
       'Professional Building', 'Bowling Alley', 'School (Private)',
       'Club, Lodge Hall, Fraternal Organization', 'Service Station',
       'Hospital', 'Manufactured Home', 'Cemetery, Mausoleum, Mortuary',
       'Non-Auto Service and Repair Shop, Paint Shop, or Laundry',
       'Animal Kennel', 'Bank, Savings and Loan', 'Department Store',
       'Athletic and Amusement Facility', 'College, University (Private)',
       'Nursery or Greenhouse',
       'Motion Picture, Radio and Television Industry', 'Supermarket',
       'Skating Rink', 'Manufactured Home Park', 'Theater', 'Lumber Yard',
       'Food Processing Plant', 'Rights of Way', 'Rooming/Boarding House',
       'Mineral Processing', 'Wholesale and Manufacturing Outlet',
       'Dump Site', 'Poultry, etc.', 'Rivers and Lakes', 'Dairy',
       'Race Track', 'Pipeline, Canal', 'Camp', 'Pasture',
       'Fruits and Nuts', 'Water Recreation', 'Senior Day Care Center',
       'Petroleum and Gas', 'Field Crops'], dtype=object)

###Handling Missing Values in ["net_value"]

In [ ]:
#this is good to go
records_df['net_value'].isnull().sum()

0

###Handling Missing Values in ["zip_code"]

In [ ]:
#good to go
records_df['zip_code'].unique()

array([   nan, 91367., 91352., 91331., 91342., 90291., 90035., 90037.,
       90020., 90036., 90069., 90027., 90003., 90732., 91335., 91306.,
       91303., 91307., 91364., 91356., 91406., 91316., 91325., 91405.,
       91343., 91402., 90045., 91423., 91401., 91411., 90230., 91403.,
       91436., 91346., 90210., 91602., 91607., 91243., 90077., 90049.,
       91605., 90001., 91606., 99606., 90066., 91066., 91006., 91601.,
       90068., 91604., 91499., 91064., 90046., 91340., 91040., 91311.,
       91042., 91024., 91214., 91344., 91345., 91353., 91504., 91505.,
       93510., 91612., 90601., 91608., 90064., 91387., 91324., 91329.,
       91326., 93063., 91330., 91304., 91301., 90043., 90056., 90302.,
       90047., 90293., 90040., 90009., 90304., 90245., 90016., 90232.,
       90034., 90025., 90094., 90292., 90041., 90042., 90015., 90057.,
       90011., 90005., 90063., 92008., 90031., 90006., 90023., 90065.,
       90012., 90019., 90014., 90013., 95648., 90017., 90405., 90026.,
       90007., 90402., 90403., 90290., 90297., 90067., 90024., 90212.,
       90048., 90211., 94513., 90095., 90039., 90631., 90022., 90272.,
       94707., 90270., 90053., 90062., 90265., 90044., 90058., 90018.,
       90008., 90089., 90028., 90021., 90029., 90010., 90038., 90004.,
       90079., 90071., 90033., 92806., 92801., 90032., 91204., 91205.,
       91030., 91201., 91206., 91105., 91101., 90209., 90052., 90002.,
       90059., 90061., 90051., 90248., 90501., 90247., 90744., 90745.,
       90813., 90810., 90746., 90502., 90731., 90717., 90710., 90712.,
       90734., 90815., 92805., 90748., 90733., 90822., 90275., 92802.,
       91302.])

###Dropping Data w/o Zip Codes

In [ ]:
records_df = records_df[records_df['zip_code'].notna()]

In [ ]:
records_df = records_df.reset_index()
records_df = records_df.drop(columns=['index'])

##Consistency
Now that I've handles missing values, I will check consistency over: 


1.   Data type
2.   Categorical 
2.  Referential integrity

###Data type

In [ ]:
records_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 752695 entries, 0 to 752694
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   city          752695 non-null  object
 1   year          752695 non-null  int64
 2   assessor_id   752695 non-null  object
 3   general_use   752695 non-null  object
 4   specific_use  752695 non-null  object
 5   net_value     752695 non-null  int64
 6   zip_code      752695 non-null  float64
dtypes: float64(1), int64(2), object(4)
memory usage: 40.2+ MB

In [ ]:
#changing to category type 
records_df["assessor_id"] = records_df["assessor_id"].astype("category")
records_df["general_use"] = records_df["general_use"].astype("category")
records_df["specific_use"] = records_df["specific_use"].astype("category")

#since all NaN have been removed, change type of zip code column to int. this may change later
records_df["zip_code"] = records_df["zip_code"].astype("int")

#change year to datetime format
records_df["year"] = pd.to_datetime(records_df['year'], format='%Y')

In [ ]:
records_df["year"] = records_df["year"].dt.year

In [ ]:
records_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 752695 entries, 0 to 752694
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   city          752695 non-null  object
 1   year          752695 non-null  int64
 2   assessor_id   752695 non-null  category
 3   general_use   752695 non-null  category
 4   specific_use  752695 non-null  category
 5   net_value     752695 non-null  int64
 6   zip_code      752695 non-null  int64
dtypes: category(3), int64(3), object(1)
memory usage: 53.0+ MB

###Categorical Consistency

In [ ]:
#consistent 
records_df["general_use"].unique()

['Commercial', '(unavailable)', 'Residential', 'Industrial', 'Institutional', 'Recreational', 'Miscellaneous', 'Irrigated Farm', 'Dry Farm']
Categories (9, object): ['Commercial', '(unavailable)', 'Residential', 'Industrial', ...,
                         'Recreational', 'Miscellaneous', 'Irrigated Farm', 'Dry Farm']

In [ ]:
#consistent 
records_df["specific_use"].unique()

['Store', '(unavailable)', 'Commercial', 'Single Family Residence', 'Industrial', ..., 'Water Recreation', 'Petroleum and Gas', 'Fruits and Nuts', 'Rights of Way', 'Field Crops']
Length: 69
Categories (69, object): ['Store', '(unavailable)', 'Commercial', 'Single Family Residence',
                          ..., 'Petroleum and Gas', 'Fruits and Nuts', 'Rights of Way',
                          'Field Crops']

###  Referential integrity

In [ ]:
#making the assessor_id a unique ID per parcel per year
records_df['assessor_id'] = records_df["assessor_id"].apply(lambda x: x +"-2012")

In [ ]:
records_df

               city  year  ... net_value zip_code
0       LOS ANGELES  2012  ...   4700000    91367
1       LOS ANGELES  2012  ...    866855    91352
2       LOS ANGELES  2012  ...    530390    91331
3       LOS ANGELES  2012  ...    331700    91342
4       LOS ANGELES  2012  ...    201599    90291
...             ...   ...  ...       ...      ...
752690  LOS ANGELES  2012  ...    356000    91335
752691  LOS ANGELES  2012  ...    269000    91335
752692  LOS ANGELES  2012  ...     63782    91335
752693  LOS ANGELES  2012  ...    338512    91335
752694  LOS ANGELES  2012  ...    276700    91335

[752695 rows x 7 columns]

In [ ]:
len(records_df['zip_code'].unique())

184

##Exporting Data

In [ ]:
records_df.to_csv("gdrive/My Drive/Team 93 Capstone Project/data/Assessor_Parcels_Data_2012_CLEANED.csv")