<a href="https://colab.research.google.com/github/sorayabailey23/Group-93/blob/main/Assessor_Data_Cleaning_2010.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assessor Data Cleaning - 2010

In [182]:
#importing libraries 

from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [183]:
import numpy as np
import pandas as pd
import math

##Uploading + Exploring the Data 

I'll first upload the raw data and see what features it includes.

In [184]:
#Importing data from 2010 in Los Angeles 
records_df = pd.read_csv("gdrive/My Drive/Team 93 Capstone Project/data/Assessor_Parcels_Data_2010.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (37) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [185]:
records_df.head()

   Unnamed: 0 situszip  ... propertylocation  situszip5
0           0           ...              NaN        NaN
1           1           ...              NaN        NaN
2           2           ...              NaN        NaN
3           3           ...              NaN        NaN
4           4           ...              NaN        NaN

[5 rows x 52 columns]

In [186]:
records_df.columns

Index(['Unnamed: 0', 'situszip', 'taxratearea_city', 'ain', 'rollyear',
       'taxratearea', 'assessorid', 'usetype', 'usecode', 'usecodedescchar1',
       'usecodedescchar2', 'usecodedescchar3', 'usecodedescchar4',
       'totbuildingdatalines', 'yearbuilt', 'effectiveyearbuilt', 'sqftmain',
       'bedrooms', 'bathrooms', 'units', 'recordingdate', 'roll_landvalue',
       'roll_landbaseyear', 'roll_impvalue', 'roll_impbaseyear',
       'roll_totlandimp', 'roll_homeownersexemp', 'roll_realestateexemp',
       'roll_fixturevalue', 'roll_fixtureexemp', 'roll_perspropvalue',
       'roll_perspropexemp', 'istaxableparcel', 'roll_totalvalue',
       'roll_totalexemption', 'nettaxablevalue', 'parcelclassification',
       'adminregion', 'cluster', 'parcelboundarydescription', 'situshouseno',
       'situsfraction', 'situsdirection', 'situsstreet', 'situsunit',
       'situscity', 'rowid', 'center_lat', 'center_lon', 'location_1',
       'propertylocation', 'situszip5'],
      dtype='object')

In [187]:
#verifying that we pulled data for the correct city and no others
records_df["taxratearea_city"].unique()

array(['LOS ANGELES'], dtype=object)

In [188]:
records_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 790018 entries, 0 to 790017
Data columns (total 52 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Unnamed: 0                 790018 non-null  int64
 1   situszip                   790018 non-null  object
 2   taxratearea_city           790018 non-null  object
 3   ain                        790018 non-null  int64
 4   rollyear                   790018 non-null  int64
 5   taxratearea                790018 non-null  int64
 6   assessorid                 790018 non-null  object
 7   usetype                    789810 non-null  object
 8   usecode                    790018 non-null  object
 9   usecodedescchar1           789810 non-null  object
 10  usecodedescchar2           789810 non-null  object
 11  usecodedescchar3           789810 non-null  object
 12  usecodedescchar4           789810 non-null  object
 13  totbuildingdatalines       790018 non-null  int64
 14  yearbuilt                  790018 non-null  int64
 15  effectiveyearbuilt         790018 non-null  int64
 16  sqftmain                   790018 non-null  int64
 17  bedrooms                   790018 non-null  int64
 18  bathrooms                  790018 non-null  int64
 19  units                      790018 non-null  int64
 20  recordingdate              790018 non-null  int64
 21  roll_landvalue             790018 non-null  int64
 22  roll_landbaseyear          790018 non-null  int64
 23  roll_impvalue              790018 non-null  int64
 24  roll_impbaseyear           790018 non-null  int64
 25  roll_totlandimp            790018 non-null  int64
 26  roll_homeownersexemp       790018 non-null  int64
 27  roll_realestateexemp       790018 non-null  int64
 28  roll_fixturevalue          790018 non-null  int64
 29  roll_fixtureexemp          790018 non-null  int64
 30  roll_perspropvalue         790018 non-null  int64
 31  roll_perspropexemp         790018 non-null  int64
 32  istaxableparcel            790018 non-null  object
 33  roll_totalvalue            790018 non-null  int64
 34  roll_totalexemption        790018 non-null  int64
 35  nettaxablevalue            790018 non-null  int64
 36  parcelclassification       790018 non-null  object
 37  adminregion                790018 non-null  object
 38  cluster                    790018 non-null  int64
 39  parcelboundarydescription  790018 non-null  object
 40  situshouseno               790018 non-null  int64
 41  situsfraction              790018 non-null  object
 42  situsdirection             790018 non-null  object
 43  situsstreet                790018 non-null  object
 44  situsunit                  790018 non-null  object
 45  situscity                  790018 non-null  object
 46  rowid                      790018 non-null  int64
 47  center_lat                 789880 non-null  float64
 48  center_lon                 789880 non-null  float64
 49  location_1                 789880 non-null  object
 50  propertylocation           747306 non-null  object
 51  situszip5                  747298 non-null  float64
dtypes: float64(3), int64(29), object(20)
memory usage: 313.4+ MB

## Relevance 

The dataset includes a lot of information that I don't need. For this section, I'll 


1.   Drop the columns that I don't need 
2.   Check the remaining columns for unique values
1.   Handle missing values, including dropping data that does not include zip codes

###Determining which columns to drop

In [189]:
#dropping irrelevant columns

records_df = records_df.drop(columns=['Unnamed: 0', 'situszip','ain',
       'taxratearea', 'usetype', 'usecode','usecodedescchar3', 'usecodedescchar4',
       'totbuildingdatalines', 'yearbuilt', 'effectiveyearbuilt', 'sqftmain',
       'bedrooms', 'bathrooms', 'units', 'recordingdate', 'roll_landvalue',
       'roll_landbaseyear', 'roll_impvalue', 'roll_impbaseyear',
       'roll_totlandimp', 'roll_homeownersexemp', 'roll_realestateexemp',
       'roll_fixturevalue', 'roll_fixtureexemp', 'roll_perspropvalue',
       'roll_perspropexemp', 'istaxableparcel', 'roll_totalvalue',
       'roll_totalexemption',
       'adminregion', 'cluster', 'parcelboundarydescription', 'situshouseno',
       'situsfraction', 'situsdirection', 'situsstreet', 'situsunit',
       'situscity', 'rowid', 'center_lat', 'center_lon', 'location_1','propertylocation', "parcelclassification"])

In [190]:
records_df.head()

  taxratearea_city  rollyear  ... nettaxablevalue situszip5
0      LOS ANGELES      2010  ...               0       NaN
1      LOS ANGELES      2010  ...               0       NaN
2      LOS ANGELES      2010  ...               0       NaN
3      LOS ANGELES      2010  ...               0       NaN
4      LOS ANGELES      2010  ...               0       NaN

[5 rows x 7 columns]

In [192]:
#renaming columns to more recongizable names
records_df.columns=["city", "year", "assessor_id","general_use", "specific_use","net_value", "zip_code"]

###Handling Missing Values in ["assessor_id"] (none!)

In [193]:
len(records_df['assessor_id'].unique())

790018

In [194]:
records_df['assessor_id'].isnull().sum()

0

In [195]:
#this series is good to go

### Handling Missing Values in ["general_use"]

In [196]:
#we have entries w/ nan and (unavailable) string
records_df["general_use"].unique()

array(['Miscellaneous', 'Residential', 'Industrial', 'Commercial',
       'Recreational', 'Institutional', nan, '(unavailable)', 'Dry Farm',
       'Irrigated Farm'], dtype=object)

In [197]:
#checking how many nans in general_use
records_df['general_use'].isnull().sum()

208

In [198]:
#replacing nan with (unavailable)
records_df["general_use"] = records_df["general_use"].fillna('(unavailable)')
records_df["general_use"].unique()

array(['Miscellaneous', 'Residential', 'Industrial', 'Commercial',
       'Recreational', 'Institutional', '(unavailable)', 'Dry Farm',
       'Irrigated Farm'], dtype=object)

###Handling Missing Values in ["specific_use"]

In [199]:
#there is an empty string in this column that we should replace with nan or Not Available 
records_df["specific_use"].unique()

array(['Government Owned Property', 'Single Family Residence',
       'Industrial', 'Store Combination',
       'Parking Lot (Commercial Use Property)', 'Privately Owned',
       'Utility', 'Shopping Center (Neighborhood, Community)',
       'Five or More Units or Apartments (Any Combination)',
       'Club, Lodge Hall, Fraternal Organization', 'Commercial', 'Church',
       'Four Units  (Any Combination)', nan, '(unavailable)',
       'Double, Duplex, or Two Units', 'Open Storage',
       'Shopping Center (Regional)', 'Cemetery, Mausoleum, Mortuary',
       'Waste', 'Three Units (Any Combination)',
       'Parking Lot (Industrial Use Property)', 'Office Building',
       'Rights of Way', ' ', 'Store', 'Camp', 'Petroleum and Gas',
       'Homes for Aged and Others', 'School (Private)',
       "Children's Day Care Center",
       'Auto, Recreation Equipment, Construction Equipment Sales and Service',
       'Restaurant, Cocktail Lounge', 'Professional Building',
       'Bowling Alley', 'Supermarket', 'Service Station',
       'Warehousing, Distribution, Storage', 'Hotel and Motel',
       'Hospital', 'Manufactured Home', 'Light Manufacturing',
       'Non-Auto Service and Repair Shop, Paint Shop, or Laundry',
       'Animal Kennel', 'Heavy Manufacturing', 'Bank, Savings and Loan',
       'Department Store', 'Athletic and Amusement Facility',
       'College, University (Private)', 'Nursery or Greenhouse',
       'Motion Picture, Radio and Television Industry', 'Golf Course',
       'Skating Rink', 'Manufactured Home Park', 'Theater', 'Lumber Yard',
       'Food Processing Plant', 'Rooming/Boarding House',
       'Mineral Processing', 'Wholesale and Manufacturing Outlet',
       'Dump Site', 'Poultry, etc.', 'Rivers and Lakes', 'Desert',
       'Dairy', 'Race Track', 'Pipeline, Canal', 'Pasture',
       'Fruits and Nuts', 'Water Recreation', 'Senior Day Care Center',
       'Field Crops'], dtype=object)

In [200]:
records_df["specific_use"]= records_df["specific_use"].fillna('(unavailable)')

In [201]:
records_df["specific_use"].unique()

array(['Government Owned Property', 'Single Family Residence',
       'Industrial', 'Store Combination',
       'Parking Lot (Commercial Use Property)', 'Privately Owned',
       'Utility', 'Shopping Center (Neighborhood, Community)',
       'Five or More Units or Apartments (Any Combination)',
       'Club, Lodge Hall, Fraternal Organization', 'Commercial', 'Church',
       'Four Units  (Any Combination)', '(unavailable)',
       'Double, Duplex, or Two Units', 'Open Storage',
       'Shopping Center (Regional)', 'Cemetery, Mausoleum, Mortuary',
       'Waste', 'Three Units (Any Combination)',
       'Parking Lot (Industrial Use Property)', 'Office Building',
       'Rights of Way', ' ', 'Store', 'Camp', 'Petroleum and Gas',
       'Homes for Aged and Others', 'School (Private)',
       "Children's Day Care Center",
       'Auto, Recreation Equipment, Construction Equipment Sales and Service',
       'Restaurant, Cocktail Lounge', 'Professional Building',
       'Bowling Alley', 'Supermarket', 'Service Station',
       'Warehousing, Distribution, Storage', 'Hotel and Motel',
       'Hospital', 'Manufactured Home', 'Light Manufacturing',
       'Non-Auto Service and Repair Shop, Paint Shop, or Laundry',
       'Animal Kennel', 'Heavy Manufacturing', 'Bank, Savings and Loan',
       'Department Store', 'Athletic and Amusement Facility',
       'College, University (Private)', 'Nursery or Greenhouse',
       'Motion Picture, Radio and Television Industry', 'Golf Course',
       'Skating Rink', 'Manufactured Home Park', 'Theater', 'Lumber Yard',
       'Food Processing Plant', 'Rooming/Boarding House',
       'Mineral Processing', 'Wholesale and Manufacturing Outlet',
       'Dump Site', 'Poultry, etc.', 'Rivers and Lakes', 'Desert',
       'Dairy', 'Race Track', 'Pipeline, Canal', 'Pasture',
       'Fruits and Nuts', 'Water Recreation', 'Senior Day Care Center',
       'Field Crops'], dtype=object)

###Handling Missing Values in ["net_value"]

In [204]:
#this is good to go
records_df['net_value']

0              0
1              0
2              0
3              0
4              0
           ...
790013    276700
790014    295900
790015     62825
790016    267400
790017    398000
Name: net_value, Length: 790018, dtype: int64

###Handling Missing Values in ["zip_code"]

In [205]:
#good to go
records_df['zip_code'].unique()

array([   nan, 91604., 90035., 90043., 91364., 91335., 91306., 91367.,
       91303., 91307., 91356., 91316., 91325., 91406., 91343., 91405.,
       91402., 90045., 91423., 91411., 91401., 90230., 91403., 91436.,
       91346., 90210., 90077., 90049., 91605., 91352., 91331., 90001.,
       91606., 90066., 99606., 91066., 91006., 91601., 90068., 91607.,
       91602., 91499., 90046., 91342., 91340., 91040., 91311., 91042.,
       91024., 91214., 91344., 91345., 91353., 91504., 91505., 93510.,
       91612., 90601., 91608., 90064., 91387., 91324., 91329., 91326.,
       93063., 91304., 91301., 90056., 90302., 90047., 90036., 90293.,
       90291., 90040., 90009., 90304., 90245., 90016., 90232., 90034.,
       90025., 90094., 90292., 90041., 90042., 90015., 90057., 90011.,
       90005., 90063., 90012., 92008., 90037., 90031., 90006., 90023.,
       90065., 90019., 90013., 90014., 95648., 90017., 90405., 90026.,
       90007., 90402., 90403., 90297., 90067., 90024., 90212., 90069.,
       90048., 90211., 90062., 94513., 90095., 90039., 90022., 90027.,
       90631., 90272., 90020., 94707., 90270., 90053., 90290., 90265.,
       90044., 90003., 90058., 90018., 90008., 90240., 90089., 90028.,
       90021., 90029., 90010., 90038., 90004., 90079., 90071., 90033.,
       91792., 92806., 92801., 94087., 90032., 91205., 91204., 92646.,
       91030., 91201., 91206., 91105., 91101., 90052., 90002., 90059.,
       90061., 90051., 90248., 90501., 90247., 90745., 90813., 90744.,
       90746., 90502., 90731., 90717., 90710., 90712., 90732., 90734.,
       90815., 92805., 90748., 90733., 90822., 90275., 92802., 91302.])

###Dropping Data w/o Zip Codes

In [206]:
records_df = records_df[records_df['zip_code'].notna()]

In [207]:
records_df.reset_index()

         index         city  year  ...             specific_use net_value zip_code
0          134  LOS ANGELES  2010  ...               Commercial    455441  91604.0
1          421  LOS ANGELES  2010  ...                    Store    559830  90035.0
2          516  LOS ANGELES  2010  ...               Commercial    303510  90043.0
3          741  LOS ANGELES  2010  ...                    Store    800000  91364.0
4          767  LOS ANGELES  2010  ...  Single Family Residence    205877  91335.0
...        ...          ...   ...  ...                      ...       ...      ...
747293  790013  LOS ANGELES  2010  ...  Single Family Residence    276700  91335.0
747294  790014  LOS ANGELES  2010  ...  Single Family Residence    295900  91335.0
747295  790015  LOS ANGELES  2010  ...  Single Family Residence     62825  91335.0
747296  790016  LOS ANGELES  2010  ...  Single Family Residence    267400  91335.0
747297  790017  LOS ANGELES  2010  ...  Single Family Residence    398000  91335.0

[747298 rows x 8 columns]

##Consistency
Now that I've handles missing values, I will check consistency over: 


1.   Data type
2.   Categorical 
2.  Referential integrity

###Data type

In [208]:
records_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 747298 entries, 134 to 790017
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   city          747298 non-null  object
 1   year          747298 non-null  int64
 2   assessor_id   747298 non-null  object
 3   general_use   747298 non-null  object
 4   specific_use  747298 non-null  object
 5   net_value     747298 non-null  int64
 6   zip_code      747298 non-null  float64
dtypes: float64(1), int64(2), object(4)
memory usage: 45.6+ MB

In [215]:
#changing to category type 
records_df["assessor_id"] = records_df["assessor_id"].astype("category")
records_df["general_use"] = records_df["general_use"].astype("category")
records_df["specific_use"] = records_df["specific_use"].astype("category")

#since all NaN have been removed, change type of zip code column to int. this may change later
records_df["zip_code"] = records_df["zip_code"].astype("int")

#change year to datetime format
records_df["year"] = pd.to_datetime(records_df['year'], format='%Y')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [217]:
records_df["year"] = records_df["year"].dt.year

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [223]:
records_df = records_df.drop(columns=['year_expanded'])

In [224]:
records_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 747298 entries, 134 to 790017
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   city          747298 non-null  object
 1   year          747298 non-null  int64
 2   assessor_id   747298 non-null  category
 3   general_use   747298 non-null  category
 4   specific_use  747298 non-null  category
 5   net_value     747298 non-null  int64
 6   zip_code      747298 non-null  int64
dtypes: category(3), int64(3), object(1)
memory usage: 58.5+ MB

###Categorical Consistency

In [226]:
#consistent 
records_df["general_use"].unique()

['Commercial', 'Residential', 'Institutional', 'Recreational', 'Industrial', 'Miscellaneous', '(unavailable)', 'Irrigated Farm', 'Dry Farm']
Categories (9, object): ['Commercial', 'Residential', 'Institutional', 'Recreational', ...,
                         'Miscellaneous', '(unavailable)', 'Irrigated Farm', 'Dry Farm']

In [229]:
#consistent 
records_df["specific_use"]

134                    Commercial
421                         Store
516                    Commercial
741                         Store
767       Single Family Residence
                   ...
790013    Single Family Residence
790014    Single Family Residence
790015    Single Family Residence
790016    Single Family Residence
790017    Single Family Residence
Name: specific_use, Length: 747298, dtype: category
Categories (69, object): [' ', '(unavailable)', 'Animal Kennel',
                          'Athletic and Amusement Facility', ..., 'Warehousing, Distribution, Storage', 'Waste',
                          'Water Recreation', 'Wholesale and Manufacturing Outlet']

###  Referential integrity

In [231]:
#making the assessor_id a unique ID per parcel per year
records_df['assessor_id'] = records_df["assessor_id"].apply(lambda x: x +"-2010")

In [232]:
records_df

               city  year  ... net_value zip_code
134     LOS ANGELES  2010  ...    455441    91604
421     LOS ANGELES  2010  ...    559830    90035
516     LOS ANGELES  2010  ...    303510    90043
741     LOS ANGELES  2010  ...    800000    91364
767     LOS ANGELES  2010  ...    205877    91335
...             ...   ...  ...       ...      ...
790013  LOS ANGELES  2010  ...    276700    91335
790014  LOS ANGELES  2010  ...    295900    91335
790015  LOS ANGELES  2010  ...     62825    91335
790016  LOS ANGELES  2010  ...    267400    91335
790017  LOS ANGELES  2010  ...    398000    91335

[747298 rows x 7 columns]

##Exporting Data

In [235]:
records_df.to_csv("gdrive/My Drive/Team 93 Capstone Project/data/Assessor_Parcels_Data_2010_CLEANED.csv")