<a href="https://colab.research.google.com/github/sorayabailey23/Group-93/blob/main/Assessor_Data_Cleaning_2016.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assessor Data Cleaning - 2015

---

In [1]:
#importing libraries + drive

from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
import numpy as np
import pandas as pd
import math

##Uploading + Exploring the Data 

I'll first upload the raw data and see what features it includes.

In [3]:
#Importing data from 2014 in Los Angeles 
records_df = pd.read_csv("gdrive/My Drive/Team 93 Capstone Project/data/Assessor_Parcels_Data_2016.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (37) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
records_df.head()

   Unnamed: 0 situszip  ... propertylocation  situszip5
0           0           ...              NaN        NaN
1           1           ...              NaN        NaN
2           2           ...              NaN        NaN
3           3           ...              NaN        NaN
4           4           ...              NaN        NaN

[5 rows x 52 columns]

In [5]:
records_df.columns

Index(['Unnamed: 0', 'situszip', 'taxratearea_city', 'ain', 'rollyear',
       'taxratearea', 'assessorid', 'usetype', 'usecode', 'usecodedescchar1',
       'usecodedescchar2', 'usecodedescchar3', 'usecodedescchar4',
       'totbuildingdatalines', 'yearbuilt', 'effectiveyearbuilt', 'sqftmain',
       'bedrooms', 'bathrooms', 'units', 'recordingdate', 'roll_landvalue',
       'roll_landbaseyear', 'roll_impvalue', 'roll_impbaseyear',
       'roll_totlandimp', 'roll_homeownersexemp', 'roll_realestateexemp',
       'roll_fixturevalue', 'roll_fixtureexemp', 'roll_perspropvalue',
       'roll_perspropexemp', 'istaxableparcel', 'roll_totalvalue',
       'roll_totalexemption', 'nettaxablevalue', 'parcelclassification',
       'adminregion', 'cluster', 'parcelboundarydescription', 'situshouseno',
       'situsfraction', 'situsdirection', 'situsstreet', 'situsunit',
       'situscity', 'rowid', 'center_lat', 'center_lon', 'location_1',
       'propertylocation', 'situszip5'],
      dtype='object')

In [6]:
#verifying that we pulled data for the correct city + year 
records_df["taxratearea_city"].unique()

array(['LOS ANGELES'], dtype=object)

In [7]:
records_df["rollyear"].unique()

array([2016])

In [8]:
records_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 797128 entries, 0 to 797127
Data columns (total 52 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Unnamed: 0                 797128 non-null  int64
 1   situszip                   797128 non-null  object
 2   taxratearea_city           797128 non-null  object
 3   ain                        797128 non-null  int64
 4   rollyear                   797128 non-null  int64
 5   taxratearea                797128 non-null  int64
 6   assessorid                 797128 non-null  object
 7   usetype                    797128 non-null  object
 8   usecode                    797128 non-null  object
 9   usecodedescchar1           797128 non-null  object
 10  usecodedescchar2           797128 non-null  object
 11  usecodedescchar3           797128 non-null  object
 12  usecodedescchar4           797128 non-null  object
 13  totbuildingdatalines       797128 non-null  int64
 14  yearbuilt                  797128 non-null  int64
 15  effectiveyearbuilt         797128 non-null  int64
 16  sqftmain                   797128 non-null  int64
 17  bedrooms                   797128 non-null  int64
 18  bathrooms                  797128 non-null  int64
 19  units                      797128 non-null  int64
 20  recordingdate              797128 non-null  int64
 21  roll_landvalue             797128 non-null  int64
 22  roll_landbaseyear          797128 non-null  int64
 23  roll_impvalue              797128 non-null  int64
 24  roll_impbaseyear           797128 non-null  int64
 25  roll_totlandimp            797128 non-null  int64
 26  roll_homeownersexemp       797128 non-null  int64
 27  roll_realestateexemp       797128 non-null  int64
 28  roll_fixturevalue          797128 non-null  int64
 29  roll_fixtureexemp          797128 non-null  int64
 30  roll_perspropvalue         797128 non-null  int64
 31  roll_perspropexemp         797128 non-null  int64
 32  istaxableparcel            797128 non-null  object
 33  roll_totalvalue            797128 non-null  int64
 34  roll_totalexemption        797128 non-null  int64
 35  nettaxablevalue            797128 non-null  int64
 36  parcelclassification       797128 non-null  object
 37  adminregion                797128 non-null  object
 38  cluster                    797128 non-null  int64
 39  parcelboundarydescription  797128 non-null  object
 40  situshouseno               797128 non-null  int64
 41  situsfraction              797128 non-null  object
 42  situsdirection             797128 non-null  object
 43  situsstreet                797128 non-null  object
 44  situsunit                  797128 non-null  object
 45  situscity                  797128 non-null  object
 46  rowid                      797128 non-null  int64
 47  center_lat                 797003 non-null  float64
 48  center_lon                 797003 non-null  float64
 49  location_1                 797003 non-null  object
 50  propertylocation           756374 non-null  object
 51  situszip5                  756308 non-null  float64
dtypes: float64(3), int64(29), object(20)
memory usage: 316.2+ MB

## Relevance 

The dataset includes a lot of information that I don't need. For this section, I'll 


1.   Drop the columns that I don't need 
2.   Check the remaining columns for unique values
1.   Handle missing values, including dropping data that does not include zip codes

###Determining which columns to drop

In [9]:
#dropping irrelevant columns

records_df = records_df.drop(columns=['Unnamed: 0', 'situszip','ain',
       'taxratearea', 'usetype', 'usecode','usecodedescchar3', 'usecodedescchar4',
       'totbuildingdatalines', 'yearbuilt', 'effectiveyearbuilt', 'sqftmain',
       'bedrooms', 'bathrooms', 'units', 'recordingdate', 'roll_landvalue',
       'roll_landbaseyear', 'roll_impvalue', 'roll_impbaseyear',
       'roll_totlandimp', 'roll_homeownersexemp', 'roll_realestateexemp',
       'roll_fixturevalue', 'roll_fixtureexemp', 'roll_perspropvalue',
       'roll_perspropexemp', 'istaxableparcel', 'roll_totalvalue',
       'roll_totalexemption',
       'adminregion', 'cluster', 'parcelboundarydescription', 'situshouseno',
       'situsfraction', 'situsdirection', 'situsstreet', 'situsunit',
       'situscity', 'rowid', 'center_lat', 'center_lon', 'location_1','propertylocation', "parcelclassification"])

In [10]:
records_df.head()

  taxratearea_city  rollyear  ... nettaxablevalue situszip5
0      LOS ANGELES      2016  ...          208126       NaN
1      LOS ANGELES      2016  ...               0       NaN
2      LOS ANGELES      2016  ...           35229       NaN
3      LOS ANGELES      2016  ...            2455       NaN
4      LOS ANGELES      2016  ...               0       NaN

[5 rows x 7 columns]

In [11]:
#renaming columns to more recongizable names
records_df.columns=["city", "year", "assessor_id","general_use", "specific_use","net_value", "zip_code"]

###Handling Missing Values in ["assessor_id"] (none!)

In [12]:
len(records_df['assessor_id'].unique())

797128

In [13]:
records_df['assessor_id'].isnull().sum()

0

In [ ]:
#this series is good to go

### Handling Missing Values in ["general_use"]

In [14]:
#we have entries w/ nan and (unavailable) string
records_df["general_use"].unique()

array(['Residential', 'Miscellaneous', 'Industrial', 'Institutional',
       'Commercial', '(missing)', 'Recreational', 'Dry Farm',
       'Irrigated Farm'], dtype=object)

In [ ]:
#checking how many nans in general_use
records_df['general_use'].isnull().sum()

11

In [15]:
#replacing nan with (unavailable)
records_df["general_use"] = records_df["general_use"].fillna('(unavailable)')
records_df["general_use"].unique()

array(['Residential', 'Miscellaneous', 'Industrial', 'Institutional',
       'Commercial', '(missing)', 'Recreational', 'Dry Farm',
       'Irrigated Farm'], dtype=object)

###Handling Missing Values in ["specific_use"]

In [16]:
#there is an empty string in this column that we should replace with nan or Not Available 
records_df["specific_use"].unique()

array(['Single Family Residence', 'Government Owned Property', 'Utility',
       'Industrial', 'School (Private)', 'Commercial', 'Open Storage',
       '(missing)', 'Parking Lot (Commercial Use Property)',
       'Light Manufacturing', 'Double, Duplex, or Two Units',
       'Five or More Units or Apartments (Any Combination)',
       'Service Station', 'Store', 'Church', 'Golf Course',
       'Office Building', 'Motion Picture, Radio and Television Industry',
       'Parking Lot (Industrial Use Property)', 'Store Combination',
       'Rights of Way', 'Shopping Center (Regional)',
       'Four Units  (Any Combination)', 'Heavy Manufacturing',
       'Mineral Processing', 'Desert', 'Food Processing Plant',
       'Auto, Recreation Equipment, Construction Equipment Sales and Service',
       'Warehousing, Distribution, Storage',
       'Three Units (Any Combination)', 'Manufactured Home Park',
       'Hotel and Motel', 'Homes for Aged and Others',
       'Cemetery, Mausoleum, Mortuary', "Children's Day Care Center",
       'Professional Building',
       'Club, Lodge Hall, Fraternal Organization',
       'Athletic and Amusement Facility', 'Manufactured Home',
       'Restaurant, Cocktail Lounge',
       'Shopping Center (Neighborhood, Community)',
       'Nursery or Greenhouse', 'Hospital', 'Bank, Savings and Loan',
       'Supermarket',
       'Non-Auto Service and Repair Shop, Paint Shop, or Laundry', ' ',
       'Dairy', 'Race Track', 'Senior Day Care Center',
       'Department Store', 'Lumber Yard', 'Animal Kennel', 'Dump Site',
       'Privately Owned', 'Waste', 'Poultry, etc.', 'Pipeline, Canal',
       'Theater', 'Camp', 'Wholesale and Manufacturing Outlet',
       'Rooming/Boarding House', 'Rivers and Lakes', 'Pasture',
       'Skating Rink', 'College, University (Private)', 'Bowling Alley',
       'Fruits and Nuts', 'Water Recreation', 'Petroleum and Gas',
       'Field Crops', 'Timber - Pine'], dtype=object)

In [17]:
records_df["specific_use"]= records_df["specific_use"].fillna('(unavailable)')

In [18]:
records_df["specific_use"].unique()

array(['Single Family Residence', 'Government Owned Property', 'Utility',
       'Industrial', 'School (Private)', 'Commercial', 'Open Storage',
       '(missing)', 'Parking Lot (Commercial Use Property)',
       'Light Manufacturing', 'Double, Duplex, or Two Units',
       'Five or More Units or Apartments (Any Combination)',
       'Service Station', 'Store', 'Church', 'Golf Course',
       'Office Building', 'Motion Picture, Radio and Television Industry',
       'Parking Lot (Industrial Use Property)', 'Store Combination',
       'Rights of Way', 'Shopping Center (Regional)',
       'Four Units  (Any Combination)', 'Heavy Manufacturing',
       'Mineral Processing', 'Desert', 'Food Processing Plant',
       'Auto, Recreation Equipment, Construction Equipment Sales and Service',
       'Warehousing, Distribution, Storage',
       'Three Units (Any Combination)', 'Manufactured Home Park',
       'Hotel and Motel', 'Homes for Aged and Others',
       'Cemetery, Mausoleum, Mortuary', "Children's Day Care Center",
       'Professional Building',
       'Club, Lodge Hall, Fraternal Organization',
       'Athletic and Amusement Facility', 'Manufactured Home',
       'Restaurant, Cocktail Lounge',
       'Shopping Center (Neighborhood, Community)',
       'Nursery or Greenhouse', 'Hospital', 'Bank, Savings and Loan',
       'Supermarket',
       'Non-Auto Service and Repair Shop, Paint Shop, or Laundry', ' ',
       'Dairy', 'Race Track', 'Senior Day Care Center',
       'Department Store', 'Lumber Yard', 'Animal Kennel', 'Dump Site',
       'Privately Owned', 'Waste', 'Poultry, etc.', 'Pipeline, Canal',
       'Theater', 'Camp', 'Wholesale and Manufacturing Outlet',
       'Rooming/Boarding House', 'Rivers and Lakes', 'Pasture',
       'Skating Rink', 'College, University (Private)', 'Bowling Alley',
       'Fruits and Nuts', 'Water Recreation', 'Petroleum and Gas',
       'Field Crops', 'Timber - Pine'], dtype=object)

###Handling Missing Values in ["net_value"]

In [19]:
#this is good to go
records_df['net_value'].isnull().sum()

0

###Handling Missing Values in ["zip_code"]

In [20]:
#good to go
records_df['zip_code'].unique()

array([   nan, 91343., 91405., 90064., 90033., 91342., 91345., 91402.,
       91406., 91335., 91324., 91306., 91344., 91387., 91340., 91331.,
       91352., 91040., 91311., 91042., 91024., 90057., 91214., 91353.,
       91605., 90045., 91346., 91307., 91304., 91303., 91367., 91364.,
       91356., 91302., 91325., 91316., 91401., 91606., 91411., 90230.,
       91423., 91403., 91436., 90210., 90077., 91243., 90049., 90001.,
       91607., 91601., 99606., 91066., 90066., 91006., 90068., 91602.,
       91604., 91499., 91064., 90046., 91504., 91505., 93510., 91612.,
       90601., 91608., 91329., 91326., 91362., 93063., 91330., 91301.,
       90056., 90043., 90302., 90047., 90036., 90293., 90040., 90291.,
       90009., 90245., 90094., 90232., 90292., 90034., 90016., 90041.,
       90015., 90011., 90063., 92008., 90037., 90006., 90031., 90023.,
       90012., 90019., 90065., 90014., 90017., 95648., 90405., 90026.,
       90025., 90402., 90403., 90042., 90035., 90290., 90297., 90048.,
       90067., 90024., 90212., 90069., 90211., 94513., 90095., 90039.,
       90027., 90022., 90631., 90272., 90020., 94707., 90270., 90053.,
       90265., 90044., 90062., 90003., 90058., 90018., 90008., 90007.,
       90089., 90005., 90028., 90021., 90029., 90010., 90038., 90013.,
       90004., 90079., 90032., 90071., 92806., 91030., 91204., 91205.,
       60038., 91201., 91206., 91105., 91101., 90732., 90209., 90052.,
       90002., 90059., 90239., 90061., 90051., 90247., 90248., 90501.,
       90744., 90745., 90813., 90810., 90746., 90502., 90717., 90710.,
       90731., 90712., 90734., 92805., 90815., 90748., 90733., 90822.,
       90275., 92802.])

###Dropping Data w/o Zip Codes

In [21]:
records_df = records_df[records_df['zip_code'].notna()]

In [22]:
records_df = records_df.reset_index()
records_df = records_df.drop(columns=['index'])

##Consistency
Now that I've handles missing values, I will check consistency over: 


1.   Data type
2.   Categorical 
2.  Referential integrity

###Data type

In [23]:
records_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756308 entries, 0 to 756307
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   city          756308 non-null  object
 1   year          756308 non-null  int64
 2   assessor_id   756308 non-null  object
 3   general_use   756308 non-null  object
 4   specific_use  756308 non-null  object
 5   net_value     756308 non-null  int64
 6   zip_code      756308 non-null  float64
dtypes: float64(1), int64(2), object(4)
memory usage: 40.4+ MB

In [25]:
#changing to category type 
records_df["assessor_id"] = records_df["assessor_id"].astype("category")
records_df["general_use"] = records_df["general_use"].astype("category")
records_df["specific_use"] = records_df["specific_use"].astype("category")

#since all NaN have been removed, change type of zip code column to int. this may change later
records_df["zip_code"] = records_df["zip_code"].astype("int")

#change year to datetime format
records_df["year"] = pd.to_datetime(records_df['year'], format='%Y')

In [26]:
records_df["year"] = records_df["year"].dt.year

In [27]:
records_df

               city  year  ... net_value zip_code
0       LOS ANGELES  2016  ...    536051    91343
1       LOS ANGELES  2016  ...     75986    91405
2       LOS ANGELES  2016  ...   1200000    90064
3       LOS ANGELES  2016  ...    348677    90033
4       LOS ANGELES  2016  ...    529400    91342
...             ...   ...  ...       ...      ...
756303  LOS ANGELES  2016  ...    487757    90732
756304  LOS ANGELES  2016  ...     75381    90732
756305  LOS ANGELES  2016  ...    114301    90732
756306  LOS ANGELES  2016  ...    104171    90732
756307  LOS ANGELES  2016  ...    164457    90732

[756308 rows x 7 columns]

In [28]:
records_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756308 entries, 0 to 756307
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   city          756308 non-null  object
 1   year          756308 non-null  int64
 2   assessor_id   756308 non-null  category
 3   general_use   756308 non-null  category
 4   specific_use  756308 non-null  category
 5   net_value     756308 non-null  int64
 6   zip_code      756308 non-null  int64
dtypes: category(3), int64(3), object(1)
memory usage: 53.2+ MB

###Categorical Consistency

In [29]:
#consistent 
records_df["general_use"].unique()

['Residential', 'Commercial', 'Industrial', 'Institutional', 'Miscellaneous', 'Recreational', 'Irrigated Farm', 'Dry Farm', '(missing)']
Categories (9, object): ['Residential', 'Commercial', 'Industrial', 'Institutional', ...,
                         'Recreational', 'Irrigated Farm', 'Dry Farm', '(missing)']

In [30]:
#consistent 
records_df["specific_use"]

0                                   Single Family Residence
1                                   Single Family Residence
2                                   Single Family Residence
3         Five or More Units or Apartments (Any Combinat...
4                                   Single Family Residence
                                ...
756303                              Single Family Residence
756304                              Single Family Residence
756305                              Single Family Residence
756306                              Single Family Residence
756307                              Single Family Residence
Name: specific_use, Length: 756308, dtype: category
Categories (69, object): [' ', '(missing)', 'Animal Kennel',
                          'Athletic and Amusement Facility', ..., 'Warehousing, Distribution, Storage', 'Waste',
                          'Water Recreation', 'Wholesale and Manufacturing Outlet']

###  Referential integrity

In [31]:
#making the assessor_id a unique ID per parcel per year
records_df['assessor_id'] = records_df["assessor_id"].apply(lambda x: x +"-2016")

In [32]:
records_df

               city  year  ... net_value zip_code
0       LOS ANGELES  2016  ...    536051    91343
1       LOS ANGELES  2016  ...     75986    91405
2       LOS ANGELES  2016  ...   1200000    90064
3       LOS ANGELES  2016  ...    348677    90033
4       LOS ANGELES  2016  ...    529400    91342
...             ...   ...  ...       ...      ...
756303  LOS ANGELES  2016  ...    487757    90732
756304  LOS ANGELES  2016  ...     75381    90732
756305  LOS ANGELES  2016  ...    114301    90732
756306  LOS ANGELES  2016  ...    104171    90732
756307  LOS ANGELES  2016  ...    164457    90732

[756308 rows x 7 columns]

##Exporting Data

In [33]:
records_df.to_csv("gdrive/My Drive/Team 93 Capstone Project/data/Assessor_Parcels_Data_2016_CLEANED.csv")