<a href="https://colab.research.google.com/github/sorayabailey23/Group-93/blob/main/Assessor_Data_Cleaning_Merging_Datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assessor Data Cleaning - Merging Datasets
---

In [ ]:
#importing libraries + drive

from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import numpy as np
import pandas as pd

##Uploading Data + Merging Datasets

In [ ]:
#Importing data for each year using for loop. storing df in a list temporarily 
years = ["2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020"]
df_list = []

for year in years:
  converted = int(year)
  df_converted = pd.read_csv("gdrive/My Drive/Team 93 Capstone Project/data/Assessor_Parcels_Data_"+year+"_CLEANED.csv")
  df_list.append(df_converted)

In [ ]:
len(df_list)

In [ ]:
#merging all df along rows using concat
df_merged = pd.concat([df_list[0],df_list[1], df_list[2], df_list[3], df_list[4], df_list[5], df_list[6],df_list[7],df_list[8], df_list[9], 
                       df_list[10]])

In [ ]:
#droping weird unnamed column
df_merged = df_merged.drop(columns=["Unnamed: 0"])

In [ ]:
df_merged

In [ ]:
df_merged.dtypes

###Dealing with random zip code changes

In [ ]:
df_merged = pd.read_csv("gdrive/My Drive/Team 93 Capstone Project/data/Assessor_Parcels_Data_2010 to 2020.csv")

In [ ]:


df_merged["zip_code"]=df_merged["zip_code"].astype("string")

In [ ]:
df_merged["zip_code"]=df_merged["zip_code"].str.replace("10069", "90069")

In [ ]:
df_merged["zip_code"]=df_merged["zip_code"].str.replace("19343", "91343").replace("60038", "90038")

In [ ]:
df_merged["zip_code"]=df_merged["zip_code"].astype("int")

In [ ]:
df_merged["zip_code"].unique()

array([91604, 90035, 90043, 91364, 91335, 91306, 91367, 91303, 91307,
       91356, 91316, 91325, 91406, 91343, 91405, 91402, 90045, 91423,
       91411, 91401, 90230, 91403, 91436, 91346, 90210, 90077, 90049,
       91605, 91352, 91331, 90001, 91606, 90066, 99606, 91066, 91006,
       91601, 90068, 91607, 91602, 91499, 90046, 91342, 91340, 91040,
       91311, 91042, 91024, 91214, 91344, 91345, 91353, 91504, 91505,
       93510, 91612, 90601, 91608, 90064, 91387, 91324, 91329, 91326,
       93063, 91304, 91301, 90056, 90302, 90047, 90036, 90293, 90291,
       90040, 90009, 90304, 90245, 90016, 90232, 90034, 90025, 90094,
       90292, 90041, 90042, 90015, 90057, 90011, 90005, 90063, 90012,
       92008, 90037, 90031, 90006, 90023, 90065, 90019, 90013, 90014,
       95648, 90017, 90405, 90026, 90007, 90402, 90403, 90297, 90067,
       90024, 90212, 90069, 90048, 90211, 90062, 94513, 90095, 90039,
       90022, 90027, 90631, 90272, 90020, 94707, 90270, 90053, 90290,
       90265, 90044, 90003, 90058, 90018, 90008, 90240, 90089, 90028,
       90021, 90029, 90010, 90038, 90004, 90079, 90071, 90033, 91792,
       92806, 92801, 94087, 90032, 91205, 91204, 92646, 91030, 91201,
       91206, 91105, 91101, 90052, 90002, 90059, 90061, 90051, 90248,
       90501, 90247, 90745, 90813, 90744, 90746, 90502, 90731, 90717,
       90710, 90712, 90732, 90734, 90815, 92805, 90748, 90733, 90822,
       90275, 92802, 91302, 91330, 90209, 90810, 90701, 91243, 91064,
       91362, 90239, 90401, 91360, 91502, 91361, 90055])

In [ ]:
df_merged.sort_values(by="zip_code")

         Unnamed: 0         city  ...  net_value zip_code
5714911      444168  LOS ANGELES  ...   136892.0    90001
6418165      389985  LOS ANGELES  ...   555318.0    90001
5705806      435063  LOS ANGELES  ...  2157714.0    90001
6418159      389979  LOS ANGELES  ...   490017.0    90001
5705807      435064  LOS ANGELES  ...   675387.0    90001
...             ...          ...  ...        ...      ...
5892141      621398  LOS ANGELES  ...   291022.0    99606
3094425       89134  LOS ANGELES  ...   275528.0    99606
6604115      575935  LOS ANGELES  ...   296842.0    99606
1588040       89140  LOS ANGELES  ...   237000.0    99606
2340774       89179  LOS ANGELES  ...   253000.0    99606

[8310940 rows x 8 columns]

In [ ]:
df_merged = df_merged.drop(columns="Unnamed: 0")

In [ ]:
df_merged

                city  year  ... net_value zip_code
0        LOS ANGELES  2010  ...  455441.0    91604
1        LOS ANGELES  2010  ...  559830.0    90035
2        LOS ANGELES  2010  ...  303510.0    90043
3        LOS ANGELES  2010  ...  800000.0    91364
4        LOS ANGELES  2010  ...  205877.0    91335
...              ...   ...  ...       ...      ...
8310935  LOS ANGELES  2020  ...  281430.0    90732
8310936  LOS ANGELES  2020  ...  106377.0    90732
8310937  LOS ANGELES  2020  ...  418726.0    90732
8310938  LOS ANGELES  2020  ...  805073.0    90732
8310939  LOS ANGELES  2020  ...  189093.0    90732

[8310940 rows x 7 columns]

##Looking at Unique Values

In [ ]:
df_merged["year"].unique()

In [ ]:
df_merged["city"].unique()

In [ ]:

df_merged["general_use"].unique()

In [ ]:
#replacing missing w/ unavailable in general_use column
df_merged["general_use"] = df_merged["general_use"].str.replace("(missing)", "(unavailable)").replace("((unavailable))", "(unavailable)")

In [ ]:
df_merged["general_use"].unique()

In [ ]:
df_merged["specific_use"].unique()

In [ ]:
#cleaning up specific-use - replacing (missing) w/ (unavailable) 

df_merged["specific_use"] = df_merged["specific_use"].str.replace("(missing)", "(unavailable)").replace(" ", "(unavailable)").replace("((unavailable))",  "(unavailable)")
                                                                                                                                      
df_merged["specific_use"].unique()

In [ ]:
#capturing list of zip codes. there are 199 total
zip_codes = df_merged["zip_code"].unique()
zip_codes = [int(x) for x in zip_codes]
zip_codes

In [ ]:
len(zip_codes)

##Changing Data Types

In [ ]:
df_merged["city"] = df_merged["city"].astype("category")
df_merged["general_use"] = df_merged["general_use"].astype("category")
df_merged["specific_use"] = df_merged["specific_use"].astype("category")
df_merged["zip_code"] = df_merged["zip_code"].astype(int)

In [ ]:
df_merged.dtypes

##Data Dictionary

In [ ]:
df_merged

In [ ]:
df_merged["net_value"].mean()

df_merged["net_value"].describe

###***Data Features***

*   **City**: Incorporated city name based on tax rate area. *Dtype: String/Category*
*   **Year**: Assessment roll year. *Dtype: int*
*   **Assessor_Id**: Unique 10-digit number assigned to each individual parcel in Los Angeles County. Final four digits represents the year the assessment occured. *Dtype: String*
*   **General_Use**:	The type of property - 'Residential', 'Commercial', 'Industrial', 'Miscellaneous','Institutional', 'Recreational', 'Dry Farm', 'Irrigated Farm. *Dtype: String/Category*
*   **Specific_Use**: More specific use of the property. *Dtype: String/Category*
*   **Net_value**: Total value of propery minus any tax exemption values *dtype: float*
*   **Zip_Code**: Five digit zip code of the property's location *dtype: int*

##Exporting Data

In [ ]:
df_merged.to_csv("gdrive/My Drive/Team 93 Capstone Project/data/Assessor_Parcels_Data_2010 to 2020.csv")